.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}
.banner__titulo {
    font-weight: 700;
    font-size: 18px;
}
.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}
.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}
.banner__pesquisa::placeholder {
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--branco);
    background: url("../img/Lupa.png") no-repeat;
    background-position: 1em;
}
@media screen and (min-width: 1024px) {
    .banner__titulo{
        font-size: 36px;
    }
    .banner__pesquisa {
        width: 50%;
    }
    .banner__pesquisa:placeholder {
        background-position: 7em;
    }
    
}
@media screen and(min-width:1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }
    .swiper-pagination {
        margin: 2em 0 3em 0;
    }
    .swiper {
        width: 60%;
    }
    .swiper-button-prev,
    swiper-button-next {
        display: block;
        top: 60%;
    }
    .card {
        width: 40%;
        margin: 2em auto;
    }
}
@media screen and(min-width:1728px){
    .banner__pesquisa {
        width: 35%;
    }
    .banner__pesquisa::placeholder {
        background-position: 12em;
    }
    .banner {
        padding: 6em 0;
    }
}