.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}
.swiper-slide img {
    width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
    display: none;
}
.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}
.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.card__botões {
    display: flex;
    justify-content: space-between;
}
.botões {
    display: flex;
}
.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}
.descrição__titulo {
    color: var(--laranja);
    font-weight: 700;
}
.descrição__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}
.descrição__texto {
    font-size: 14px;
}
.botões__item {
    margin: 0 0.5em;
}
.botões__ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}
@media screen and (min-width:1728px) {
    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }
    .swiper-pagination {
        margin: 1em 0;
    }
    .swiper {
        width: 50%;
    }
    .descrição__titulo {
        font-size: 32px;
    }
    .descrição__texto {
        font-size: 16px;
    }
    .descrição {
        margin-right: 2em;
    }
    
    .card {
        width: 60%;
        margin-left: 3em;
    }
}